@import "@fontsource/mulish/400.css";
@import "@fontsource/mulish/500.css";
@import "@fontsource/mulish/600.css";
@import "@fontsource/mulish/700.css";
@import "@fontsource/urbanist/400.css";
@import "@fontsource/urbanist/500.css";
@import "@fontsource/urbanist/600.css";
@import "@fontsource/urbanist/700.css";

@import "./style/global.css";
