/* --------------------------- */
/* Button */
/* --------------------------- */
@layer utilities {
  /* Root */
  .MuiButtonBase-root {
    @apply font-body font-medium tracking-normal normal-case transition-all;
    &.icon-only > span {
      @apply mx-0;
    }
    &.icon-only {
      @apply min-w-0;
    }

    &.MuiButton-loadingPositionCenter {
      @apply text-transparent!;
    }
  }

  .MuiButton-icon.MuiButton-startIcon {
    @apply -ms-1 me-2;
  }
  .MuiButton-icon.MuiButton-endIcon {
    @apply ms-2 -me-1;
  }

  /* Sizes */
  .MuiButton-sizeLarge {
    @apply min-w-10 rounded-lg px-6 py-2 text-base leading-6;

    &.icon-only {
      @apply px-2;
    }

    &.hover-icon-shrink {
      svg {
        @apply transition-transform!;
      }
      &:hover,
      &:active,
      &.active {
        svg {
          @apply scale-[0.85];
        }
      }
    }

    .MuiCircularProgress-root {
      height: 1.125rem !important;
      width: 1.125rem !important;
    }

    &.MuiButton-loadingPositionStart .MuiButton-loadingIndicator {
      @apply left-6 rtl:right-6 rtl:left-[unset];
    }

    &.MuiButton-loadingPositionEnd .MuiButton-loadingIndicator {
      @apply right-6 rtl:right-[unset] rtl:left-6;
    }
  }

  .MuiButton-sizeMedium {
    @apply min-w-9 rounded-md px-5 py-2 text-base leading-5;

    &.icon-only {
      @apply px-2;
    }

    &.hover-icon-shrink {
      @apply transition-all;
      &:hover,
      &:active,
      &.active {
        svg {
          transform: scale(0.8);
        }
      }
    }

    .MuiCircularProgress-root {
      height: 1rem !important;
      width: 1rem !important;
    }

    &.MuiButton-loadingPositionStart .MuiButton-loadingIndicator {
      @apply left-4.5 rtl:right-4.5 rtl:left-[unset];
    }

    &.MuiButton-loadingPositionEnd .MuiButton-loadingIndicator {
      @apply right-4.5 rtl:right-[unset] rtl:left-4.5;
    }
  }

  .MuiButton-sizeSmall {
    @apply min-w-8 rounded-sm px-4 py-2 text-base leading-4;

    &.icon-only {
      @apply px-2;
    }

    .MuiCircularProgress-root {
      height: 1rem !important;
      width: 1rem !important;
    }

    &.MuiButton-loadingPositionStart .MuiButton-loadingIndicator {
      @apply left-3.5 rtl:right-3.5 rtl:left-[unset];
    }

    &.MuiButton-loadingPositionEnd .MuiButton-loadingIndicator {
      @apply right-3.5 rtl:right-[unset] rtl:left-3.5;
    }
  }

  .MuiButton-sizeTiny {
    @apply min-w-7 rounded-xs px-3.5 py-1.5 text-sm leading-4;

    &.icon-only {
      @apply px-1.5;
    }

    .MuiCircularProgress-root {
      height: 0.875rem !important;
      width: 0.875rem !important;
    }

    &.MuiButton-loadingPositionStart .MuiButton-loadingIndicator {
      @apply left-3 rtl:right-3 rtl:left-[unset];
    }

    &.MuiButton-loadingPositionEnd .MuiButton-loadingIndicator {
      @apply right-3 rtl:right-[unset] rtl:left-3;
    }
  }

  .MuiIconButton-root {
    &.MuiIconButton-sizeLarge {
      @apply rounded-lg px-2 py-2 text-base leading-6;
    }

    &.MuiIconButton-sizeMedium {
      @apply rounded-md px-2 py-2 text-base leading-5;
    }

    &.MuiIconButton-sizeSmall {
      @apply rounded-sm px-2 py-2 text-base leading-4;
    }

    &.MuiIconButton-sizeTiny {
      @apply rounded-xs px-1.5 py-1.5 text-sm leading-4;
    }
  }

  /* Contained Buttons*/
  *[class*="MuiButton-contained"] {
    .MuiButton-loadingIndicator {
      @apply text-text-contrast;
    }
  }

  .MuiButton-containedPrimary {
    &:hover {
      @apply bg-primary-light;
    }

    &:active,
    &.active {
      @apply bg-primary;
    }

    &.Mui-disabled {
      @apply bg-primary text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedSecondary {
    &:hover {
      @apply bg-secondary-light;
    }

    &:active,
    &.active {
      @apply bg-secondary;
    }

    &.Mui-disabled {
      @apply bg-secondary text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedAccent-1 {
    &:hover {
      @apply bg-accent-1-light;
    }

    &:active,
    &.active {
      @apply bg-accent-1;
    }

    &.Mui-disabled {
      @apply bg-accent-1 text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedAccent-2 {
    &:hover {
      @apply bg-accent-2-light;
    }

    &:active,
    &.active {
      @apply bg-accent-2;
    }

    &.Mui-disabled {
      @apply bg-accent-2 text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedAccent-3 {
    &:hover {
      @apply bg-accent-3-light;
    }

    &:active,
    &.active {
      @apply bg-accent-3;
    }

    &.Mui-disabled {
      @apply bg-accent-3 text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedAccent-4 {
    &:hover {
      @apply bg-accent-4-light;
    }

    &:active,
    &.active {
      @apply bg-accent-4;
    }

    &.Mui-disabled {
      @apply bg-accent-4 text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedAccent-5 {
    &:hover {
      @apply bg-accent-5-light;
    }

    &:active,
    &.active {
      @apply bg-accent-5;
    }

    &.Mui-disabled {
      @apply bg-accent-5 text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedAccent-6 {
    &:hover {
      @apply bg-accent-6-light;
    }

    &:active,
    &.active {
      @apply bg-accent-6;
    }

    &.Mui-disabled {
      @apply bg-accent-6 text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedText-primary {
    &:hover {
      @apply bg-text-primary-light;
    }

    &:active,
    &.active {
      @apply bg-text-primary;
    }

    &.Mui-disabled {
      @apply bg-text-primary text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedText-secondary {
    &:hover {
      @apply bg-text-secondary-light;
    }

    &:active,
    &.active {
      @apply bg-text-secondary;
    }

    &.Mui-disabled {
      @apply bg-text-secondary text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedText-disabled {
    &:hover {
      @apply bg-text-disabled-light;
    }

    &:active,
    &.active {
      @apply bg-text-disabled;
    }

    &.Mui-disabled {
      @apply bg-text-disabled text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedSuccess {
    &:hover {
      @apply bg-success-light;
    }

    &:active,
    &.active {
      @apply bg-success;
    }

    &.Mui-disabled {
      @apply bg-success text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedError {
    &:hover {
      @apply bg-error-light;
    }

    &:active,
    &.active {
      @apply bg-error;
    }

    &.Mui-disabled {
      @apply bg-error text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedWarning {
    &:hover {
      @apply bg-warning-light;
    }

    &:active,
    &.active {
      @apply bg-warning;
    }

    &.Mui-disabled {
      @apply bg-warning text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedInfo {
    &:hover {
      @apply bg-info-light;
    }

    &:active,
    &.active {
      @apply bg-info;
    }

    &.Mui-disabled {
      @apply bg-info text-text-contrast opacity-disabled;
    }
  }

  .MuiButton-containedGrey {
    @apply bg-grey-25 text-text-primary;
    &:hover {
      @apply bg-grey-50;
    }

    &:active,
    &.active {
      @apply bg-grey-50;
    }

    &.Mui-disabled {
      @apply bg-grey-25 text-text-primary opacity-disabled;
    }
  }

  /* Outlined Buttons */
  .MuiButton-outlined {
    @apply border;
  }

  .MuiButton-sizeLarge.MuiButton-outlined {
    @apply px-5.75 py-[calc(.5rem-1px)];

    &.icon-only {
      @apply px-[calc(.5rem-1px)];
    }
  }

  .MuiButton-sizeMedium.MuiButton-outlined {
    @apply px-4.75 py-[calc(.5rem-1px)];

    &.icon-only {
      @apply px-[calc(.5rem-1px)];
    }
  }

  .MuiButton-sizeSmall.MuiButton-outlined {
    @apply px-[calc(1.rem-1px)] py-[calc(.5rem-1px)];

    &.icon-only {
      @apply px-[calc(.5rem-1px)];
    }
  }

  .MuiButton-sizeTiny.MuiButton-outlined {
    @apply px-[calc(0.875-1px)] py-[calc(.375rem-1px)];

    &.icon-only {
      @apply px-[calc(.375rem-1px)];
    }
  }

  .MuiButton-outlinedPrimary {
    &:hover {
      @apply bg-primary-light/10 text-primary-dark;
    }

    &:active,
    &.active {
      @apply bg-primary-light/15 text-primary-dark;
    }

    &.Mui-disabled {
      @apply border-primary text-primary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-primary;
    }
  }

  .MuiButton-outlinedSecondary {
    &:hover {
      @apply bg-secondary-light/10 text-secondary-dark;
    }

    &:active,
    &.active {
      @apply bg-secondary-light/15 text-secondary-dark;
    }

    &.Mui-disabled {
      @apply border-secondary text-secondary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-secondary;
    }
  }

  .MuiButton-outlinedAccent-1 {
    &:hover {
      @apply bg-accent-1-light/10 text-accent-1-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-1-light/15 text-accent-1-dark;
    }

    &.Mui-disabled {
      @apply border-accent-1 text-accent-1 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-1;
    }
  }

  .MuiButton-outlinedAccent-2 {
    &:hover {
      @apply bg-accent-2-light/10 text-accent-2-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-2-light/15 text-accent-2-dark;
    }

    &.Mui-disabled {
      @apply border-accent-2 text-accent-2 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-2;
    }
  }

  .MuiButton-outlinedAccent-3 {
    &:hover {
      @apply bg-accent-3-light/10 text-accent-3-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-3-light/15 text-accent-3-dark;
    }

    &.Mui-disabled {
      @apply border-accent-3 text-accent-3 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-3;
    }
  }

  .MuiButton-outlinedAccent-4 {
    &:hover {
      @apply bg-accent-4-light/10 text-accent-4-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-4-light/15 text-accent-4-dark;
    }

    &.Mui-disabled {
      @apply border-accent-4 text-accent-4 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-4;
    }
  }

  .MuiButton-outlinedAccent-5 {
    &:hover {
      @apply bg-accent-5-light/10 text-accent-5-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-5-light/15 text-accent-5-dark;
    }

    &.Mui-disabled {
      @apply border-accent-5 text-accent-5 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-5;
    }
  }

  .MuiButton-outlinedAccent-6 {
    &:hover {
      @apply bg-accent-6-light/10 text-accent-6-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-6-light/15 text-accent-6-dark;
    }

    &.Mui-disabled {
      @apply border-accent-6 text-accent-6 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-6;
    }
  }

  .MuiButton-outlinedSuccess {
    &:hover {
      @apply bg-success-light/10 text-success-dark;
    }

    &:active,
    &.active {
      @apply bg-success-light/15 text-success-dark;
    }

    &.Mui-disabled {
      @apply border-success text-success opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-success;
    }
  }

  .MuiButton-outlinedError {
    &:hover {
      @apply bg-error-light/10 text-error-dark;
    }

    &:active,
    &.active {
      @apply bg-error-light/15 text-error-dark;
    }

    &.Mui-disabled {
      @apply border-error text-error opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-error;
    }
  }

  .MuiButton-outlinedWarning {
    &:hover {
      @apply bg-warning-light/10 text-warning-dark;
    }

    &:active,
    &.active {
      @apply bg-warning-light/15 text-warning-dark;
    }

    &.Mui-disabled {
      @apply border-warning text-warning opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-warning;
    }
  }

  .MuiButton-outlinedInfo {
    &:hover {
      @apply bg-info-light/10 text-info-dark;
    }

    &:active,
    &.active {
      @apply bg-info-light/15 text-info-dark;
    }

    &.Mui-disabled {
      @apply border-info text-info opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-info;
    }
  }

  .MuiButton-outlinedText-primary {
    &:hover {
      @apply bg-grey-500/10 text-text-primary;
    }

    &:active,
    &.active {
      @apply bg-grey-500/15 text-text-primary;
    }

    &.Mui-disabled {
      @apply border-text-primary text-text-primary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-primary;
    }
  }

  .MuiButton-outlinedText-secondary {
    &:hover {
      @apply bg-grey-500/10 text-text-secondary;
    }

    &:active,
    &.active {
      @apply bg-grey-500/15 text-text-secondary;
    }

    &.Mui-disabled {
      @apply border-text-secondary text-text-secondary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-secondary;
    }
  }

  .MuiButton-outlinedText-disabled {
    &:hover {
      @apply bg-grey-500/10 text-text-disabled;
    }

    &:active,
    &.active {
      @apply bg-grey-500/15 text-text-disabled;
    }

    &.Mui-disabled {
      @apply border-text-disabled text-text-disabled opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-disabled;
    }
  }

  .MuiButton-outlinedGrey {
    @apply border-grey-200 text-text-primary;
    &:hover {
      @apply bg-grey-200/10 text-text-primary-dark;
    }

    &:active,
    &.active {
      @apply bg-grey-200/15 text-text-primary-dark;
    }

    &.Mui-disabled {
      @apply border-grey-200 text-text-primary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-primary;
    }
  }

  /* Text Buttons */
  .MuiButton-textPrimary {
    &:hover {
      @apply bg-primary-light/10 text-primary-dark;
    }

    &:active,
    &.active {
      @apply bg-primary-light/15 text-primary-dark;
    }

    &.Mui-disabled {
      @apply text-primary opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-primary;
    }
  }

  .MuiButton-textSecondary {
    &:hover {
      @apply bg-secondary-light/10 text-secondary-dark;
    }

    &:active,
    &.active {
      @apply bg-secondary-light/15 text-secondary-dark;
    }

    &.Mui-disabled {
      @apply text-secondary opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-secondary;
    }
  }

  .MuiButton-textAccent-1 {
    &:hover {
      @apply bg-accent-1-light/10 text-accent-1-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-1-light/15 text-accent-1-dark;
    }

    &.Mui-disabled {
      @apply text-accent-1 opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-1;
    }
  }

  .MuiButton-textAccent-2 {
    &:hover {
      @apply bg-accent-2-light/10 text-accent-2-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-2-light/15 text-accent-2-dark;
    }

    &.Mui-disabled {
      @apply text-accent-2 opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-2;
    }
  }

  .MuiButton-textAccent-3 {
    &:hover {
      @apply bg-accent-3-light/10 text-accent-3-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-3-light/15 text-accent-3-dark;
    }

    &.Mui-disabled {
      @apply text-accent-3 opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-3;
    }
  }

  .MuiButton-textAccent-4 {
    &:hover {
      @apply bg-accent-4-light/10 text-accent-4-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-4-light/15 text-accent-4-dark;
    }

    &.Mui-disabled {
      @apply text-accent-4 opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-4;
    }
  }

  .MuiButton-textAccent-5 {
    &:hover {
      @apply bg-accent-5-light/10 text-accent-5-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-5-light/15 text-accent-5-dark;
    }

    &.Mui-disabled {
      @apply text-accent-5 opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-5;
    }
  }

  .MuiButton-textAccent-6 {
    &:hover {
      @apply bg-accent-6-light/10 text-accent-6-dark;
    }

    &:active,
    &.active {
      @apply bg-accent-6-light/15 text-accent-6-dark;
    }

    &.Mui-disabled {
      @apply text-accent-6 opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-6;
    }
  }

  .MuiButton-textSuccess {
    &:hover {
      @apply bg-success-light/10 text-success-dark;
    }

    &:active,
    &.active {
      @apply bg-success-light/15 text-success-dark;
    }

    &.Mui-disabled {
      @apply text-success opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-success;
    }
  }

  .MuiButton-textError {
    &:hover {
      @apply bg-error-light/10 text-error-dark;
    }

    &:active,
    &.active {
      @apply bg-error-light/15 text-error-dark;
    }

    &.Mui-disabled {
      @apply text-error opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-error;
    }
  }

  .MuiButton-textWarning {
    &:hover {
      @apply bg-warning-light/10 text-warning-dark;
    }

    &:active,
    &.active {
      @apply bg-warning-light/15 text-warning-dark;
    }

    &.Mui-disabled {
      @apply text-warning opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-warning;
    }
  }

  .MuiButton-textInfo {
    &:hover {
      @apply bg-info-light/10 text-info-dark;
    }

    &:active,
    &.active {
      @apply bg-info-light/15 text-info-dark;
    }

    &.Mui-disabled {
      @apply text-info opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-info;
    }
  }

  .MuiButton-textText-primary {
    &:hover {
      @apply bg-grey-500/10 text-text-primary;
    }

    &:active,
    &.active {
      @apply bg-grey-500/15 text-text-primary;
    }

    &.Mui-disabled {
      @apply text-text-primary opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-primary;
    }
  }

  .MuiButton-textText-secondary {
    &:hover {
      @apply bg-grey-500/10 text-text-secondary;
    }

    &:active,
    &.active {
      @apply bg-grey-500/15 text-text-secondary;
    }

    &.Mui-disabled {
      @apply text-text-secondary opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-secondary;
    }
  }

  .MuiButton-textText-disabled {
    &:hover {
      @apply bg-grey-500/10 text-text-disabled;
    }

    &:active,
    &.active {
      @apply bg-grey-500/15 text-text-disabled;
    }

    &.Mui-disabled {
      @apply text-text-disabled opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-disabled;
    }
  }

  .MuiButton-textGrey {
    @apply text-text-primary;
    &:hover {
      @apply bg-grey-25;
    }

    &:active,
    &.active {
      @apply bg-grey-50 text-text-primary;
    }

    &.Mui-disabled {
      @apply text-text-primary opacity-disabled bg-transparent;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-primary;
    }
  }

  /* Pastel Buttons */
  .MuiButton-pastel {
    @apply outline-1 -outline-offset-1 outline-transparent;
  }

  .MuiButton-pastelPrimary {
    @apply bg-primary-light/10 text-primary-dark;
    &:hover {
      @apply bg-primary-light/20;
    }

    &:active,
    &.active {
      @apply bg-primary-light/25;
    }

    &.Mui-disabled {
      @apply bg-primary-light/10 text-primary-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-primary-dark;
    }
  }

  .MuiButton-pastelSecondary {
    @apply bg-secondary-light/10 text-secondary-dark;
    &:hover {
      @apply bg-secondary-light/20;
    }

    &:active,
    &.active {
      @apply bg-secondary-light/25;
    }

    &.Mui-disabled {
      @apply bg-secondary-light/10 text-secondary-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-secondary-dark;
    }
  }

  .MuiButton-pastelAccent-1 {
    @apply bg-accent-1-light/10 text-accent-1-dark;
    &:hover {
      @apply bg-accent-1-light/20;
    }

    &:active,
    &.active {
      @apply bg-accent-1-light/25;
    }

    &.Mui-disabled {
      @apply bg-accent-1-light/10 text-accent-1-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-1-dark;
    }
  }

  .MuiButton-pastelAccent-2 {
    @apply bg-accent-2-light/10 text-accent-2-dark;
    &:hover {
      @apply bg-accent-2-light/20;
    }

    &:active,
    &.active {
      @apply bg-accent-2-light/25;
    }

    &.Mui-disabled {
      @apply bg-accent-2-light/10 text-accent-2-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-2-dark;
    }
  }

  .MuiButton-pastelAccent-3 {
    @apply bg-accent-3-light/10 text-accent-3-dark;
    &:hover {
      @apply bg-accent-3-light/20;
    }

    &:active,
    &.active {
      @apply bg-accent-3-light/25;
    }

    &.Mui-disabled {
      @apply bg-accent-3-light/10 text-accent-3-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-3-dark;
    }
  }

  .MuiButton-pastelAccent-4 {
    @apply bg-accent-4-light/10 text-accent-4-dark;
    &:hover {
      @apply bg-accent-4-light/20;
    }

    &:active,
    &.active {
      @apply bg-accent-4-light/25;
    }

    &.Mui-disabled {
      @apply bg-accent-4-light/10 text-accent-4-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-4-dark;
    }
  }

  .MuiButton-pastelAccent-5 {
    @apply bg-accent-5-light/10 text-accent-5-dark;
    &:hover {
      @apply bg-accent-5-light/20;
    }

    &:active,
    &.active {
      @apply bg-accent-5-light/25;
    }

    &.Mui-disabled {
      @apply bg-accent-5-light/10 text-accent-5-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-5-dark;
    }
  }

  .MuiButton-pastelAccent-6 {
    @apply bg-accent-6-light/10 text-accent-6-dark;
    &:hover {
      @apply bg-accent-6-light/20;
    }

    &:active,
    &.active {
      @apply bg-accent-6-light/25;
    }

    &.Mui-disabled {
      @apply bg-accent-6-light/10 text-accent-6-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-6-dark;
    }
  }

  .MuiButton-pastelError {
    @apply bg-error-light/10 text-error-dark;
    &:hover {
      @apply bg-error-light/20;
    }

    &:active,
    &.active {
      @apply bg-error-light/25;
    }

    &.Mui-disabled {
      @apply bg-error-light/10 text-error-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-error-dark;
    }
  }

  .MuiButton-pastelInfo {
    @apply bg-info-light/10 text-info-dark;
    &:hover {
      @apply bg-info-light/20;
    }

    &:active,
    &.active {
      @apply bg-info-light/25;
    }

    &.Mui-disabled {
      @apply bg-info-light/10 text-info-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-info-dark;
    }
  }

  .MuiButton-pastelWarning {
    @apply bg-warning-light/10 text-warning-dark;
    &:hover {
      @apply bg-warning-light/20;
    }

    &:active,
    &.active {
      @apply bg-warning-light/25;
    }

    &.Mui-disabled {
      @apply bg-warning-light/10 text-warning-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-warning-dark;
    }
  }

  .MuiButton-pastelSuccess {
    @apply bg-success-light/10 text-success-dark;
    &:hover {
      @apply bg-success-light/20;
    }

    &:active,
    &.active {
      @apply bg-success-light/25;
    }

    &.Mui-disabled {
      @apply bg-success-light/10 text-success-dark opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-success-dark;
    }
  }

  .MuiButton-pastelText-primary {
    @apply bg-grey-500/10 text-text-primary;
    &:hover {
      @apply bg-grey-500/20;
    }

    &:active,
    &.active {
      @apply bg-grey-500/25;
    }

    &.Mui-disabled {
      @apply bg-grey-500/10 text-text-primary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-primary;
    }
  }

  .MuiButton-pastelText-secondary {
    @apply bg-grey-500/10 text-text-secondary;
    &:hover {
      @apply bg-grey-500/20;
    }

    &:active,
    &.active {
      @apply bg-grey-500/25;
    }

    &.Mui-disabled {
      @apply bg-grey-500/10 text-text-secondary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-secondary;
    }
  }

  .MuiButton-pastelText-disabled {
    @apply bg-grey-500/10 text-text-disabled;
    &:hover {
      @apply bg-grey-500/20;
    }

    &:active,
    &.active {
      @apply bg-grey-500/25;
    }

    &.Mui-disabled {
      @apply bg-grey-500/10 text-text-disabled opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-disabled;
    }
  }

  .MuiButton-pastelGrey {
    @apply bg-grey-25 text-text-primary;
    &:hover {
      @apply bg-grey-50;
    }

    &:active,
    &.active {
      @apply bg-grey-100;
    }

    &.Mui-disabled {
      @apply bg-grey-25 text-text-primary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-primary;
    }
  }

  .MuiButton-surface {
    @apply outline -outline-offset-1 outline-transparent;
    &:hover {
      @apply bg-background-paper shadow-darker-sm outline-line outline -outline-offset-1 backdrop-blur-xs;
    }

    &:active,
    &.active {
      @apply bg-background-paper shadow-darker-sm outline-line outline -outline-offset-1 backdrop-blur-xs;
    }

    .MuiButton-loadingIndicator {
      @apply text-primary;
    }

    &.surface-standard {
      @apply bg-background-paper shadow-darker-xs outline-line outline -outline-offset-1 backdrop-blur-xs;
      &:hover {
        @apply text-primary;
      }
    }
  }

  .MuiButton-surfacePrimary {
    @apply text-primary;

    &.Mui-disabled {
      @apply text-primary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-primary;
    }
  }

  .MuiButton-surfaceSecondary {
    @apply text-secondary;
    &.Mui-disabled {
      @apply text-secondary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-secondary;
    }
  }

  .MuiButton-surfaceAccent-1 {
    @apply text-accent-1;
    &.Mui-disabled {
      @apply text-accent-1 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-1;
    }
  }

  .MuiButton-surfaceAccent-2 {
    @apply text-accent-2;
    &.Mui-disabled {
      @apply text-accent-2 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-2;
    }
  }

  .MuiButton-surfaceAccent-3 {
    @apply text-accent-3;
    &.Mui-disabled {
      @apply text-accent-3 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-3;
    }
  }

  .MuiButton-surfaceAccent-4 {
    @apply text-accent-4;
    &.Mui-disabled {
      @apply text-accent-4 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-4;
    }
  }

  .MuiButton-surfaceAccent-5 {
    @apply text-accent-5;
    &.Mui-disabled {
      @apply text-accent-5 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-5;
    }
  }

  .MuiButton-surfaceAccent-6 {
    @apply text-accent-6;
    &.Mui-disabled {
      @apply text-accent-6 opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-accent-6;
    }
  }

  .MuiButton-surfaceText-primary {
    @apply text-text-primary;
    &.Mui-disabled {
      @apply text-text-primary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-primary;
    }
  }

  .MuiButton-surfaceText-secondary {
    @apply text-text-secondary;
    &.Mui-disabled {
      @apply text-text-secondary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-secondary;
    }
  }

  .MuiButton-surfaceText-disabled {
    @apply text-text-disabled;
    &.Mui-disabled {
      @apply text-text-disabled opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-disabled;
    }
  }

  .MuiButton-surfaceSuccess {
    @apply text-success;
    &.Mui-disabled {
      @apply text-success opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-success;
    }
  }

  .MuiButton-surfaceError {
    @apply text-error;
    &.Mui-disabled {
      @apply text-error opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-error;
    }
  }

  .MuiButton-surfaceWarning {
    @apply text-warning;
    &.Mui-disabled {
      @apply text-warning opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-warning;
    }
  }

  .MuiButton-surfaceInfo {
    @apply text-info;
    &.Mui-disabled {
      @apply text-info opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-info;
    }
  }

  .MuiButton-surfaceGrey {
    @apply text-text-primary;
    &.Mui-disabled {
      @apply text-text-primary opacity-disabled;
    }

    .MuiButton-loadingIndicator {
      @apply text-text-primary;
    }
  }

  .full-width-button {
    @apply w-full justify-start;

    .MuiButton-endIcon {
      @apply ms-auto;
    }
  }

  /* Focus inside form */
  form .MuiButton-containedPrimary:focus,
  .MuiButton-containedPrimary.focusable:focus {
    @apply ring-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedSecondary:focus,
  .MuiButton-containedSecondary.focusable:focus {
    @apply ring-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedAccent-1:focus,
  .MuiButton-containedAccent-1.focusable:focus {
    @apply ring-accent-1/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedAccent-2:focus,
  .MuiButton-containedAccent-2.focusable:focus {
    @apply ring-accent-2/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedAccent-3:focus,
  .MuiButton-containedAccent-3.focusable:focus {
    @apply ring-accent-3/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedAccent-4:focus,
  .MuiButton-containedAccent-4.focusable:focus {
    @apply ring-accent-4/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedAccent-5:focus,
  .MuiButton-containedAccent-5.focusable:focus {
    @apply ring-accent-5/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedAccent-6:focus,
  .MuiButton-containedAccent-6.focusable:focus {
    @apply ring-accent-6/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedText-primary:focus,
  .MuiButton-containedText-primary.focusable:focus {
    @apply ring-text-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedText-secondary:focus,
  .MuiButton-containedText-secondary.focusable:focus {
    @apply ring-text-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedText-disabled:focus,
  .MuiButton-containedText-disabled.focusable:focus {
    @apply ring-text-disabled/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedSuccess:focus,
  .MuiButton-containedSuccess.focusable:focus {
    @apply ring-success/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedError:focus,
  .MuiButton-containedError.focusable:focus {
    @apply ring-error/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedWarning:focus,
  .MuiButton-containedWarning.focusable:focus {
    @apply ring-warning/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedInfo:focus,
  .MuiButton-containedInfo.focusable:focus {
    @apply ring-info/40 ring-2 ring-offset-1;
  }

  form .MuiButton-containedGrey:focus,
  .MuiButton-containedGrey.focusable:focus {
    @apply ring-grey-100 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedPrimary:focus,
  .MuiButton-outlinedPrimary.focusable:focus {
    @apply ring-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedSecondary:focus,
  .MuiButton-outlinedSecondary.focusable:focus {
    @apply ring-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedAccent-1:focus,
  .MuiButton-outlinedAccent-1.focusable:focus {
    @apply ring-accent-1/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedAccent-2:focus,
  .MuiButton-outlinedAccent-2.focusable:focus {
    @apply ring-accent-2/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedAccent-3:focus,
  .MuiButton-outlinedAccent-3.focusable:focus {
    @apply ring-accent-3/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedAccent-4:focus,
  .MuiButton-outlinedAccent-4.focusable:focus {
    @apply ring-accent-4/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedAccent-5:focus,
  .MuiButton-outlinedAccent-5.focusable:focus {
    @apply ring-accent-5/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedAccent-6:focus,
  .MuiButton-outlinedAccent-6.focusable:focus {
    @apply ring-accent-6/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedSuccess:focus,
  .MuiButton-outlinedSuccess.focusable:focus {
    @apply ring-success/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedError:focus,
  .MuiButton-outlinedError.focusable:focus {
    @apply ring-error/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedWarning:focus,
  .MuiButton-outlinedWarning.focusable:focus {
    @apply ring-warning/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedInfo:focus,
  .MuiButton-outlinedInfo.focusable:focus {
    @apply ring-info/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedText-primary:focus,
  .MuiButton-outlinedText-primary.focusable:focus {
    @apply ring-text-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedText-secondary:focus,
  .MuiButton-outlinedText-secondary.focusable:focus {
    @apply ring-text-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedText-disabled:focus,
  .MuiButton-outlinedText-disabled.focusable:focus {
    @apply ring-text-disabled/40 ring-2 ring-offset-1;
  }

  form .MuiButton-outlinedGrey:focus,
  .MuiButton-outlinedGrey.focusable:focus {
    @apply ring-grey-100 ring-2 ring-offset-1;
  }

  form .MuiButton-textPrimary:focus,
  .MuiButton-textPrimary.focusable:focus {
    @apply ring-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textSecondary:focus,
  .MuiButton-textSecondary.focusable:focus {
    @apply ring-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textAccent-1:focus,
  .MuiButton-textAccent-1.focusable:focus {
    @apply ring-accent-1/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textAccent-2:focus,
  .MuiButton-textAccent-2.focusable:focus {
    @apply ring-accent-2/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textAccent-3:focus,
  .MuiButton-textAccent-3.focusable:focus {
    @apply ring-accent-3/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textAccent-4:focus,
  .MuiButton-textAccent-4.focusable:focus {
    @apply ring-accent-4/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textAccent-5:focus,
  .MuiButton-textAccent-5.focusable:focus {
    @apply ring-accent-5/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textAccent-6:focus,
  .MuiButton-textAccent-6.focusable:focus {
    @apply ring-accent-6/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textSuccess:focus,
  .MuiButton-textSuccess.focusable:focus {
    @apply ring-success/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textError:focus,
  .MuiButton-textError.focusable:focus {
    @apply ring-error/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textWarning:focus,
  .MuiButton-textWarning.focusable:focus {
    @apply ring-warning/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textInfo:focus,
  .MuiButton-textInfo.focusable:focus {
    @apply ring-info/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textText-primary:focus,
  .MuiButton-textText-primary.focusable:focus {
    @apply ring-text-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textText-secondary:focus,
  .MuiButton-textText-secondary.focusable:focus {
    @apply ring-text-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textText-disabled:focus,
  .MuiButton-textText-disabled.focusable:focus {
    @apply ring-text-disabled/40 ring-2 ring-offset-1;
  }

  form .MuiButton-textGrey:focus,
  .MuiButton-textGrey.focusable:focus {
    @apply ring-grey-100 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelPrimary:focus,
  .MuiButton-pastelPrimary.focusable:focus {
    @apply ring-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelSecondary:focus,
  .MuiButton-pastelSecondary.focusable:focus {
    @apply ring-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelAccent-1:focus,
  .MuiButton-pastelAccent-1.focusable:focus {
    @apply ring-accent-1/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelAccent-2:focus,
  .MuiButton-pastelAccent-2.focusable:focus {
    @apply ring-accent-2/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelAccent-3:focus,
  .MuiButton-pastelAccent-3.focusable:focus {
    @apply ring-accent-3/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelAccent-4:focus,
  .MuiButton-pastelAccent-4.focusable:focus {
    @apply ring-accent-4/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelAccent-5:focus,
  .MuiButton-pastelAccent-5.focusable:focus {
    @apply ring-accent-5/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelAccent-6:focus,
  .MuiButton-pastelAccent-6.focusable:focus {
    @apply ring-accent-6/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelError:focus,
  .MuiButton-pastelError.focusable:focus {
    @apply ring-error/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelInfo:focus,
  .MuiButton-pastelInfo.focusable:focus {
    @apply ring-info/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelWarning:focus,
  .MuiButton-pastelWarning.focusable:focus {
    @apply ring-warning/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelSuccess:focus,
  .MuiButton-pastelSuccess.focusable:focus {
    @apply ring-success/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelText-primary:focus,
  .MuiButton-pastelText-primary.focusable:focus {
    @apply ring-text-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelText-secondary:focus,
  .MuiButton-pastelText-secondary.focusable:focus {
    @apply ring-text-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelText-disabled:focus,
  .MuiButton-pastelText-disabled.focusable:focus {
    @apply ring-text-disabled/40 ring-2 ring-offset-1;
  }

  form .MuiButton-pastelGrey:focus,
  .MuiButton-pastelGrey.focusable:focus {
    @apply ring-grey-100 ring-2 ring-offset-1;
  }

  form .MuiButton-surfacePrimary:focus,
  .MuiButton-surfacePrimary.focusable:focus {
    @apply ring-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceSecondary:focus,
  .MuiButton-surfaceSecondary.focusable:focus {
    @apply ring-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceAccent-1:focus,
  .MuiButton-surfaceAccent-1.focusable:focus {
    @apply ring-accent-1/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceAccent-2:focus,
  .MuiButton-surfaceAccent-2.focusable:focus {
    @apply ring-accent-2/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceAccent-3:focus,
  .MuiButton-surfaceAccent-3.focusable:focus {
    @apply ring-accent-3/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceAccent-4:focus,
  .MuiButton-surfaceAccent-4.focusable:focus {
    @apply ring-accent-4/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceAccent-5:focus,
  .MuiButton-surfaceAccent-5.focusable:focus {
    @apply ring-accent-5/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceAccent-6:focus,
  .MuiButton-surfaceAccent-6.focusable:focus {
    @apply ring-accent-6/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceText-primary:focus,
  .MuiButton-surfaceText-primary.focusable:focus {
    @apply ring-text-primary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceText-secondary:focus,
  .MuiButton-surfaceText-secondary.focusable:focus {
    @apply ring-text-secondary/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceText-disabled:focus,
  .MuiButton-surfaceText-disabled.focusable:focus {
    @apply ring-text-disabled/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceSuccess:focus,
  .MuiButton-surfaceSuccess.focusable:focus {
    @apply ring-success/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceError:focus,
  .MuiButton-surfaceError.focusable:focus {
    @apply ring-error/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceWarning:focus,
  .MuiButton-surfaceWarning.focusable:focus {
    @apply ring-warning/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceInfo:focus,
  .MuiButton-surfaceInfo.focusable:focus {
    @apply ring-info/40 ring-2 ring-offset-1;
  }

  form .MuiButton-surfaceGrey:focus,
  .MuiButton-surfaceGrey.focusable:focus {
    @apply ring-grey-100 ring-2 ring-offset-1;
  }
}
