/* --------------------------- */
/* Radio */
/* --------------------------- */
@layer utilities {
  .MuiRadio-root {
    @apply p-0;

    svg {
      @apply transition-colors;
    }

    .contained {
      @apply text-grey-50;
    }

    .outlined {
      @apply text-grey-200;
    }

    &.Mui-checked {
      &.MuiRadio-colorPrimary .contained {
        @apply text-primary;
      }

      &.MuiRadio-colorSecondary .contained {
        @apply text-secondary;
      }

      &.MuiRadio-colorAccent-1 .contained {
        @apply text-accent-1;
      }

      &.MuiRadio-colorAccent-2 .contained {
        @apply text-accent-2;
      }

      &.MuiRadio-colorAccent-3 .contained {
        @apply text-accent-3;
      }

      &.MuiRadio-colorAccent-4 .contained {
        @apply text-accent-4;
      }

      &.MuiRadio-colorAccent-5 .contained {
        @apply text-accent-5;
      }

      &.MuiRadio-colorAccent-6 .contained {
        @apply text-accent-6;
      }

      &.MuiRadio-colorAccent-5 .contained {
        @apply text-accent-5;
      }

      &.MuiRadio-colorAccent-6 .contained {
        @apply text-accent-6;
      }

      &.MuiRadio-colorSuccess .contained {
        @apply text-success;
      }

      &.MuiRadio-colorError .contained {
        @apply text-error;
      }

      &.MuiRadio-colorInfo .contained {
        @apply text-info;
      }

      &.MuiRadio-colorWarning .contained {
        @apply text-warning;
      }

      &.MuiRadio-colorText-primary .contained {
        @apply text-text-primary;
      }

      &.MuiRadio-colorText-secondary .contained {
        @apply text-text-secondary;
      }

      &.MuiRadio-colorText-disabled .contained {
        @apply text-text-disabled;
      }
    }
  }

  .MuiFormControlLabel-labelPlacementEnd .MuiRadio-root {
    @apply me-2;
  }

  .MuiFormControlLabel-labelPlacementStart .MuiRadio-root {
    @apply ms-2;
  }

  .MuiFormControlLabel-labelPlacementTop {
    @apply m-0;
    .MuiRadio-root {
      @apply mt-1;
    }
  }

  .MuiFormControlLabel-labelPlacementBottom {
    @apply m-0;
    .MuiRadio-root {
      @apply mb-1;
    }
  }

  /* Hover */
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root) {
    &:hover svg {
      @apply text-grey-100;
    }

    &:hover svg.outlined {
      @apply text-grey-500;
    }
  }

  .MuiRadio-root:not(.Mui-disabled) {
    &:hover svg {
      @apply text-grey-100;
    }

    &:hover svg.outlined {
      @apply text-grey-500;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-primary-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorPrimary.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorPrimary.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-primary-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorSecondary.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorSecondary.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-secondary-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorSecondary.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorSecondary.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-secondary-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-1.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-1.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-accent-1-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorAccent-1.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorAccent-1.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-accent-1-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-2.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-2.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-accent-2-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorAccent-2.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorAccent-2.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-accent-2-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-3.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-3.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-accent-3-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorAccent-3.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorAccent-3.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-accent-3-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-4.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-4.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-accent-4-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorAccent-4.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorAccent-4.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-accent-4-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-5.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-5.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-accent-5-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorAccent-5.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorAccent-5.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-accent-5-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-6.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-6.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-accent-6-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorAccent-6.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorAccent-6.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-accent-6-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-5.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-5.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-accent-5-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorAccent-5.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorAccent-5.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-accent-5-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-6.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorAccent-6.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-accent-6-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorAccent-6.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorAccent-6.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-accent-6-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorWarning.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorWarning-4.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-warning-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorWarning.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorWarning.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-warning-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorSuccess.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorSuccess-4.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-success-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorSuccess.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorSuccess.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-success-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorInfo.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorInfo-4.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-info-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorInfo.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorInfo.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-info-light;
    }
  }

  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorError.Mui-checked),
  .MuiFormControlLabel-root:not(.Mui-disabled):has(.MuiRadio-root.MuiRadio-colorError-4.MuiRadio-indeterminate) {
    &:hover svg {
      @apply text-error-light;
    }
  }

  .MuiRadio-root.MuiRadio-colorError.Mui-checked:not(.Mui-disabled),
  .MuiRadio-root.MuiRadio-colorError.Mui-indeterminate:not(.Mui-disabled) {
    &:hover svg {
      @apply text-error-light;
    }
  }
}
